/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL CSS */
:root {
  --color-main: #aac9e8;
  --color-content: #3b85f0;
  --color-background: #f2f2f2;
  --color-middle: #7999dc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-Light.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-Regular.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-Medium.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-Bold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("/src/assets/font/MonaSans-ExtraBold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "MonaSans";
  font-weight: 300;
  user-select: none;
  margin: 0 auto;
}

body {
  background: linear-gradient(
    to bottom,
    var(--color-middle),
    var(--color-background)
  );
  min-height: 100vh;
}

/* CSS BUTTON */
.button {
  position: relative;
  overflow: hidden;
  background-color: var(--color-background);
  text-decoration: none;
  padding: 16px 36px;
  border-radius: 32px;
  cursor: pointer;
}

.button-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--color-content);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-content);
  border-radius: 32px;
  color: var(--color-background);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 0;
}

.button:hover::after {
  transform: translateX(0);
}

.button:hover .button-name {
  color: var(--color-background);
}
