.Header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(121, 153, 220, 0.96);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  z-index: 2;
}

/* .Header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: 2px;
  background-color: var(--color-background);
  opacity: 0.5;
} */

.Brand {
  cursor: pointer;
  margin-left: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.user {
  margin-right: 124px;
}

.search-bar {
  position: relative;
  width: 420px;
}

.search-bar-input {
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  padding: 14px 160px 14px 60px;
  border-radius: 24px;
}

.search-bar-ico {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 16px;
  top: 10px;
  cursor: pointer;
}

.search-bar-button {
  position: absolute;
  right: -40px;
  top: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--color-content);
  padding: 10px 34px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-bar-button:hover {
  transform: scale(1.02);
}

.user {
  position: relative;
}

.user-img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.user-option {
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-middle);
  box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.2);
  padding: 14px 0;
  border-radius: 16px;
  min-width: 240px;
  animation: slideDown 0.5s ease 1;
  z-index: 1;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 180px;
    opacity: 1;
  }
}

.user-option-name {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-background);
  padding: 12px 30px;
}

.user-option-logout-img {
  width: 34px;
  height: 34px;
}

.user-option-logout-name {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-background);
  margin-left: 12px;
}

.user-option-logout-img,
.user-option-logout-name {
  position: relative;
  z-index: 1;
}

.user-option-logout {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  margin: 10px 0 0 0;
  text-decoration: none;
  width: 90%;
  cursor: pointer;
}

.user-option-logout::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background-color: var(--color-content);
  border-radius: 16px;
  z-index: -1;
}

.user-option-logout:hover::after {
  transform: translateX(0);
}

.Body {
  margin-top: 200px;
  margin-right: 40px;
}

.filters {
  position: fixed;
  left: 40px;
  top: 126px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--color-background);
  padding: 36px;
  border-radius: 16px;
  box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.1);
  z-index: 2;
}

.filters-name {
  font-size: 3.2rem;
  font-weight: 500;
  color: #000;
}

.category,
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.category-title,
.price-title {
  display: flex;
  width: 100%;
  min-width: 200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.category-name,
.price-name {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
}

.category-ico,
.price-ico {
  rotate: 0deg;
  animation: rotateBack 0.3s ease 1;
  rotate: 0deg;
}

@keyframes rotateBack {
  0% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

.rotate {
  animation: rotateIn 0.3s ease 1;
  rotate: 180deg;
}

@keyframes rotateIn {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}

.category-body,
.price-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  animation: slideDown 0.5s ease 1;
}

.category-body {
  overflow-y: scroll;
  padding-right: 60px;
  max-height: 180px;
}

.radio {
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
  cursor: pointer;
}

.radio-button {
  cursor: pointer;
  width: 30px;
  height: 18px;
}

.price-typing {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-input {
  outline: none;
  width: 175px;
  height: 36px;
  border-radius: 8px;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  padding: 14px 8px;
}

.price-typing-text {
  font-size: 2.6rem;
  font-weight: 400;
  color: #000;
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: 380px;
}

.create-button-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--color-background);
  margin-left: 10px;
}

.create-button-name,
.create-button-ico {
  position: relative;
  z-index: 1;
}

.create-button {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-middle);
  padding: 12px 20px;
  border-radius: 24px;
  cursor: pointer;
  margin-top: -80px;
  z-index: 0;
}

.create-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: var(--color-content);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.create-button:hover::after {
  transform: translateX(0);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  padding: 44px 44px 30px 44px;
  border-radius: 16px;
  margin-top: 17px;
  box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.1);
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}

.card-picture {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card-picture-img {
  height: 180px;
}

.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 48px 26px 48px;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  margin-top: 16px;
  transition: all 0.8s ease;
  z-index: 1;
}

.card-name,
.card-quantity {
  margin-top: 10px;
}

.card-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-quantity-ico {
  transition: all 0.8s ease;
}

.card-quantity-number {
  margin-left: 8px;
}

.card::after {
  content: "";
  position: absolute;
  left: -50%;
  top: 100%;
  width: 200%;
  height: 200%;
  border-radius: 16px;
  background-color: var(--color-content);
  transform: rotate(25deg) translateY(0);
  transform-origin: top left;
  transition: all 1s ease;
  z-index: 0;
}

.card:hover::after {
  transform: rotate(25deg) translateY(-100%);
}

.card:hover {
  transform: scale(1.01);
}

.card:hover .card-info {
  color: var(--color-background);
}

.card:hover .card-quantity-ico {
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(182deg)
    brightness(103%) contrast(100%);
}

.card-page {
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.prev-page,
.current-page,
.next-page,
.final-page,
.input-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 36px;
  font-size: 2.6rem;
  font-weight: 400;
  color: #000;
  margin-left: 16px;
  /* background-color: var(--color-content); */
  transition: all 0.3s ease;
  cursor: pointer;
}

.input-page {
  width: 60px;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 2px solid #000;
  background-color: var(--color-background);
}

.input-page::placeholder {
  color: #000;
}

.prev-page:hover,
.current-page:hover,
.next-page:hover,
.final-page:hover {
  color: var(--color-background);
  background-color: var(--color-content);
}

.page-selected {
  color: var(--color-background);
  background-color: var(--color-content);
}
